<?xml version="1.0"?>
<doc>
    <assembly>
        <name>SyZero.AutoMapper</name>
    </assembly>
    <members>
        <member name="T:SyZero.AutoMapper.AutoMapperModule">
            <summary>
            实体映射注入
            </summary>
        </member>
        <member name="M:SyZero.SyZeroAutoMapperExtension.AddSyZeroAutoMapper(Autofac.ContainerBuilder)">
            <summary>
            AutoMapperModule
            </summary>
            <typeparam name="TContext"></typeparam>
            <param name="builder"></param>
            <param name="configuration"></param>
            <returns></returns>
        </member>
    </members>
</doc>
