# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Official

# run-name: Deploy to ${{ inputs.deploy_target }} by @${{ github.actor }}

on:
  push:
    branches: [ "master", "dev", "workflow_dev" ]

env:
  GB_NUGET_TOKEN: ${{secrets.GB_NUGET_TOKEN}}
  MS_NUGET_TOKEN: ${{secrets.MS_NUGET_TOKEN}}

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup BuildNumber
        id: setup_buildnumber
        run: .\.github\workflows\script\set-buildnumber.ps1 -refName ${{ github.ref_name }}
        shell: powershell

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore ./src/SyZero.sln

      - name: Build
        run: dotnet build --configuration Release ./src/SyZero.sln --no-restore

      - name: Create the package
        run: dotnet pack --configuration Release ./src/SyZero.sln --no-restore

      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            ./nuget/*.nupkg

      - name: Get Release Note
        id: get_releasenote
        run: .\.github\workflows\script\get-releasenote.ps1 -version ${{ env.BUILD_BUILDNUMBER }}
        shell: powershell

      - name: Tag commit
        if: github.ref_name == 'master' || github.ref_name == 'dev'
        uses: tvdias/github-tagger@v0.0.1
        with:
          repo-token: ${{ env.GB_NUGET_TOKEN }}
          tag: v${{ env.BUILD_BUILDNUMBER }}

      - name: Create Release
        uses: ncipollo/release-action@v1
        if: github.ref_name == 'master' || github.ref_name == 'dev'
        with:
          artifacts: "./nuget/*.nupkg"
          bodyFile: 'ReleaseNote.md'
          token: ${{ env.GB_NUGET_TOKEN }}
          prerelease: ${{ github.ref_name != 'master' }}
          tag: v${{ env.BUILD_BUILDNUMBER }}
  
  publish_github:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: build

      - name: Publish the package to github
        if: github.ref_name == 'master' || github.ref_name == 'dev'
        run: |
          dotnet nuget push *.nupkg --api-key "${{ env.GB_NUGET_TOKEN }}" --source "https://nuget.pkg.github.com/winter2048/index.json" --skip-duplicate
          Write-Host "done publishing packages"
        shell: powershell

  publish_nuget:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: build

      - name: Publish the package to nuget
        if: github.ref_name == 'master' || github.ref_name == 'dev'
        run: |
          dotnet nuget push *.nupkg --api-key "${{ env.MS_NUGET_TOKEN }}" --source "https://api.nuget.org/v3/index.json" --skip-duplicate
          Write-Host "done publishing packages"
        shell: powershell